*{
    font-family: 'Work Sans', sans-serif;   
}
/*nav bar styles starts*/
nav{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    gap: 1rem;
}
.logo-img{
width: 86.041px;
height: 40px;
}
.logo-title{
font-size: 45px;
font-weight: 700;
}
.pink-g{
color:#ff42a5
}
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
text-decoration: none;
color: #3C354F;
font-size: 18px;
font-weight: 500;
}
.follow-us{
   padding: 8px 10px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.youtube-svg, .tiktok-svg{
    width: 30px;
    height: 18px;
   
}
/*navbar styles ends*/
/*banner styles start*/
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  gap: 1rem;
  
}
.banner-content{
 margin-left: 80px;
}
.banner-content .banner-title{
margin-top: 80px;
color: #0B0223;
font-size: 48px;
font-weight: 600;

}
.banner-content .banner-title-goat{
 margin-top: -20px;   
font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner-content .banner-desc{
    margin-top: -40px;
}
.banner-description1,.banner-description2,.banner-description3{
color: #534C64;
font-size: 20px;
font-weight: 500;   
}
.banner-btn-pink{
padding: 21px 40px;
border-radius: 48px;
background-color: #ff42a5;
color: #FFF;
font-size: 20px;
font-weight: 600;
border: 0;
margin-top:40px;
}
.banner-btn-sky{
padding: 21px 40px;
border-radius: 48px;
background: #4EC5F7;
color: #FFF;
border: 0;
color: #FFF;
font-size: 20px;
font-weight: 600;
margin-left: 10px;
}
.banner-img{
    margin-right: 60px;
}
.banner-img img{
    width: 520px;
    height: 527px;   
}

/*banner styles ends*/

















































/*Responsive Styles*/
@media screen and (max-width:576px) {
nav{
    flex-direction: column;
}    
.logo{
    margin-left: 0;
}
nav > ul{
    flex-direction: column;
    margin-right: 0;
    gap: 36px;
}
.banner{
    flex-direction: column-reverse;
}
.banner-content{
    margin-left: 0;
   
}
.banner-img{
    margin-right: 0;
}
.banner-img img{
    width: 100%;
}
.banner-btn-sky{
    margin-left: 0;
}
}


@media screen and (min-width:576px) and (max-width:960px) {
    nav{
        flex-direction: column;
    }
    .logo{
        margin-left: 0;
    }
    nav > ul{
        flex-direction: column;
        margin-right: 0;
        gap: 36px;
    }
  .banner{
    flex-direction: column-reverse;
  }  
  .banner-content{
    margin-left: 0;
  }
  .banner-img{
    margin-right: 0;
  }
  .banner-img img{
    width: 100%;
  }
  .banner-btn-sky{
    margin-left: 0;
}
}